.bg{
    width: 500px;
    height: 400px;
    margin-left: 10px;
    background-color: rgba(249,250,252,255);
    border-radius: 10px;
}
.off{
    position: relative;
    left: 100px;
}
body{
    background-color: rgba(127,127,127,255);
}

.font{
    font-size: 30px;
    font-weight: 700;
}

button{
    background-color: rgba(25,135,84,255);
}