body{
    margin: 0;
    font-family: Arial;
}

.text1{
    position: absolute;
    left: 30px;
    top: 130px;
    width: 300px;
    color: white;
}

.text2{
    position: absolute;
    left: 360px;
    top: 130px;
    width: 300px;
    color: white;
}

.text3{
    position: absolute;
    left: 660px;
    top: 130px;
    width: 300px;
    color: white;
}

.header{
    font-size: 300px;
}