body{
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 0;
}

.table{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    width: 600px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgba(249,249,249,255);
  }
  
  .text{
   color: white;
   background-color: rgba(46,204,113,255);
   text-align: center;
   padding: 20px;
   font-size: 18px;
   width: 100px
  }