body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
}

b{
    font-size: 60px;
    font-family: "Grechen Fuemen", serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 100px;

}

.header{
    background-color: rgba(229,229,229,255);
}

.normal{
    opacity: 0.4;
}

button{
    margin-left: 150px;
    background-color: rgba(141,147,158,255);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin-bottom: 30px;
    color: white;
    border-color: rgba(141,147,158,255);
}
