.container{
    background-color: rgba(252,177,197,255);
    width: 60%;
}

.container1{
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
    line-height: 3;
}

.container2{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    gap: 80px;

}

.img{
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-right: 60px;
}

.button{
  background-color: rgba(255,100,100,255);
  width: 160px;
  height: 30px;
  border: 1px;
}